---
import { getEmployeeById } from '@/services/employee'
import LayoutInt from '@/layouts/LayoutInt.astro'
import { getPerformance } from '@/components/utils/getPerformance'
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
  Separator,
} from '@/components/ui'
import GoalsTable from '@/components/employeeDetail/goalsTable'

export const prerender = false // serverside

const { userId } = Astro.params

let employee
if (userId) employee = await getEmployeeById(userId)
---

<LayoutInt title="Welcome to Pandere">
  <Card>
    <CardHeader>
      <div class="mb-4 flex flex-wrap items-center justify-between">
        <a
          href={`/employee/${employee.id}`}
          class="flex items-center py-4 font-medium"
        >
          {
            employee.picture ? (
              <img
                width={60}
                class="rounded-full"
                src={`../${employee.picture}`}
                alt={employee.name}
              />
            ) : (
              <div class="flex h-[60px] w-[60px] items-center justify-center rounded-full border bg-secondary">
                {employee.name.charAt(0)} {employee.last_name.charAt(0)}
              </div>
            )
          }
          <div class="ml-4">{`${employee.name} ${employee.last_name}`}</div>
        </a>
        <div class="ml-4">
          <CardTitle className="text-3xl">
            {`${employee?.name} ${employee?.last_name}`}
          </CardTitle>
        </div>
        <div>
          <div>
            <span class="mr-2 text-muted-foreground">Position:</span>
            {employee?.position}
          </div>
        </div>
        <div>
          <div>
            <span class="mr-2 text-muted-foreground">Team:</span>
            {employee?.team}
          </div>
        </div>
        <div>
          <div>
            <span class="mr-2 text-muted-foreground">Performance:</span>
            <span class={getPerformance(employee?.performance).class}
              >{getPerformance(employee?.performance).text}</span
            >
          </div>
        </div>
      </div>
      <Separator />
    </CardHeader>
    <GoalsTable goals={employee?.goals || []} client:load />
    <CardContent />
  </Card>
</LayoutInt>
